<!DOCTYPE html>



<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title></title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="">
   </head>
   <body>
      
      {% extends "AppConsultoria/index.html" %}
        
      {% load static %}

      {% block servicios %}
   

      
      <h2>Esta es la vista principal de SERVICIOS</h2>
      
      
      <a class="btn btn-primary" href="{% url 'Crear_servicio' %}" role="button">Crear nuevo servicio</a>
      

      {% endblock servicios%}
      
      <script src="" async defer></script>
   </body>
</html>